.AddBox {
  display: flex;
  flex: 1 0 10px;
  flex-flow: column nowrap;
  overflow-y: scroll;
}

.AddBox input {
  width: 100%;
  margin-bottom: 10px;
  font-family: monospace;
  line-height: 1.5;
}
