.EditCard {
  display: flex;
  flex: 1 0 10px;
  flex-flow: column nowrap;
  overflow-y: scroll;
}

.EditCard input {
  width: 100%;
  margin-bottom: 10px;
  font-family: monospace;
  line-height: 1.5;
}

.EditCard textarea {
  width: 100%;
  margin-bottom: 10px;
  font-family: monospace;
  line-height: 1.5;
}

.EditCard > :nth-child(3) {
  /* content */
  flex: 1 0 10px;
}
