
* {
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  height: 100vh;
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 10px;
}

.Header > a {
  color: inherit;
  font-size: 2rem;
  font-weight: 700;
  padding: 5px 0;
  text-decoration: none;
}

.FirstLetterIndex {
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 10px;
}

.FirstLetterIndex > a {
  border: 1px solid grey;
  cursor: pointer;
  display: block;
  margin: 0 3px 3px 0;
  padding: 3px;
  text-align: center;
  width: 24px;
}

.FirstLetterIndex > a.selected {
  background-color: lightgray;
}


.Shuffler {
  height: calc(100vh - 110px); /* slightly longer than viewport to force scrollable */
  overflow-y: scroll;
}

.Shuffler > .PadTop {
  height: 120px;
}

.Shuffler > .PadBottom {
  height: 620px;
}

.CardSummary {
  background-color: lightgray;
  border: 1px solid grey;
  border-radius: 2px;
  margin-bottom: 10px;
  padding: 5px;
}

.CardSummary > a {
  color: inherit;
  text-decoration: none;
}

.ShowCard {
  border: 1px solid grey;
  margin-bottom: 10px;
}

.ShowCard > div:nth-child(1) {
  background-color: lightgray;
  padding: 5px;
}

.ShowCard > div:nth-child(2) {
  padding: 5px;
}
