
* {
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  font-family: Lato;
  height: 100vh;
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 10px;
}

a {
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
  text-decoration: none;
}

.Header {
  font-size: 2rem;
  font-weight: 700;
  padding: 5px 0;
}

.Box > div:nth-child(1) {
  display: flex;
  flex-flow: row nowrap;
  line-height: 25px;
  margin-bottom: 10px;
}

.Box > div:nth-child(1) > :nth-child(1) {
  flex: 1 0 auto;
}

.FirstLetterIndex {
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 10px;
}

.FirstLetterIndex > a {
  border: 1px solid grey;
  cursor: pointer;
  display: block;
  margin: 0 3px 3px 0;
  padding-top: 3px;
  text-align: center;
  width: 24px;
}

.FirstLetterIndex > a.selected {
  background-color: lightgray;
}


.Shuffler {
  height: calc(100vh - 110px); /* slightly longer than viewport to force scrollable */
  overflow-y: scroll;
}

.Shuffler > .PadTop {
  height: 120px;
}

.Shuffler > .PadBottom {
  height: 620px;
}

.CardSummary {
  background-color: lightgray;
  border: 1px solid grey;
  border-radius: 2px;
  margin-bottom: 10px;
  padding: 5px;
}

.ShowCard {
  border: 1px solid grey;
  border-radius: 2px;
  margin-bottom: 10px;
}

.ShowCard > div:nth-child(1) {
  background-color: lightgray;
  padding: 5px;
}

.ShowCard > div:nth-child(2) {
  padding: 5px;
}

.EditCard input {
  font-family: monospace;
  line-height: 1.5;
  margin-bottom: 10px;
  width: 100%;
}

.EditCard textarea {
  font-family: monospace;
  line-height: 1.5;
  height: 80vh;
  width: 100%;
}

.Error {
  color: red;
  font-weight: 700;
  margin-bottom: 10px;
}

.Buttons {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.Buttons button {
  border: 1px solid grey;
  border-radius: 2px;
  flex: 1 0 auto;
  line-height: 25px;
}
